<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Administração - Ufal - Ciência da Computação</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/animate.min.css" rel="stylesheet"> 
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/lightbox.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link id="css-preset" href="css/presets/preset1.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">

  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
  <![endif]-->
  
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="images/logo_cc.gif">
</head><!--/head-->

<body>

  <!--.preloader-->
  <div class="preloader"> <i class="fa fa-circle-o-notch fa-spin"></i></div>
  <!--/.preloader-->

  <header id="home">
    <div class="main-nav">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">
            <h1><img class="img-responsive" src="images/logo.png" alt="logo"></h1>
          </a>                    
        </div>
       <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">                 
            <li class="scroll "><a href="#home">Home</a></li>
            <li class="scroll"><a href="documentos.html">Documentos</a></li> 
            <li class="scroll"><a href="tcc.html">TCC</a></li> 
            <li class="scroll"><a href="matriz.html">Matriz Curricular</a></li>                     
            <li class="scroll"><a href="#portfolio">Professores</a></li>
            <li class="scroll"><a href="horarios.html">Horários</a></li>
            <li class="scroll active"><a href="administ.html">Administração</a></li>
            <li class="scroll"><a href="#contact">Contato</a></li>       
          </ul>
        </div>
      </div>
    </div><!--/#main-nav-->
  </header><!--/#home-->
  <section id="about-us" class="parallax">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="text-justify about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2>Administração</h2>

            <h3>Coordenação do Curso</h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;<b>Coordenador:</b> Rodolfo Carneiro<br>
            &nbsp;&nbsp;&nbsp;&nbsp;<b>Vice-coordenadora:</b> Raquel Cabral</p><br>

            <h3>Coordenação de Estágio e Atividades Complementares</h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;<b>Coordenadora:</b> Raquel Cabral<br></p><br>

            <h3>Coordenação de TCC</h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;<b>Coordenador:</b> Thiago Sales<br></p><br>

            <h3>Coordenação de Monitoria</h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;<b>Coordenador:</b> Tércio de Morais<br></p><br>

            <h3>Coordenação dos Laboratórios</h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;<b>LAMP</b></p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Coordenador:</b> Mário Hozano<br></p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Coordenador:</b> Alexandre Barbosa<br></p><br>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;<b>LECC</b></p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Coordenador:</b> Elthon Oliveira<br></p><br>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="text-justify about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <br><br>

            <h3>Colegiado do Curso</h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;Alexandre Barbosa<br>
            &nbsp;&nbsp;&nbsp;&nbsp;Dayvid Lós (técnico)<br>
            &nbsp;&nbsp;&nbsp;&nbsp;Gabriel Ângelo (estudante)<br>
            &nbsp;&nbsp;&nbsp;&nbsp;Patrick Brito<br>
            &nbsp;&nbsp;&nbsp;&nbsp;Raquel Cabral (vice-coordenadora)<br>
            &nbsp;&nbsp;&nbsp;&nbsp;Rodolfo Carneiro (coordenador)<br>
            &nbsp;&nbsp;&nbsp;&nbsp;Thiago Sales</p><br>

            <h3>Núcleo Docente Estruturante (NDE)</h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;Raquel Cabral (coordenadora)<br>
            &nbsp;&nbsp;&nbsp;&nbsp;Elthon Oliveira (vice-coordenador)<br>
            &nbsp;&nbsp;&nbsp;&nbsp;Fabiane Queiroz<br>
            &nbsp;&nbsp;&nbsp;&nbsp;Ricardo Afonso<br>
            &nbsp;&nbsp;&nbsp;&nbsp;Rodolfo Carneiro</p><br>

            <h3>Colegiado do Núcleo de Ciências Exatas (NCEx)</h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;Fabiane Queiroz (titular)<br>
            &nbsp;&nbsp;&nbsp;&nbsp;Patrick Brito (suplente)</p><br>

            <h3>Representação do Curso no Conselho do Campus</h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;Alexandre Paes (titular)<br>
            &nbsp;&nbsp;&nbsp;&nbsp;Patrick Brito (suplente)</p><br>

          </div>
        </div>
      </div>
    </div>

  

  <section id="contact">
    <div id="contact-us" class="parallax">
      <div class="container">
        <div class="row">
          <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2>Contato</h2>
            <p>Critique, Sugira, Inove e, assim, colabore para que o ARACOMP seja um canal de referência na área.</p>
          </div>
        </div>
        <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
          <div class="row">
            <div class="col-sm-6">
              <form id="main-contact-form" name="contact-form" method="post" action="#">
                <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="text" name="name" class="form-control" placeholder="Name" required="required">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="email" name="email" class="form-control" placeholder="Email Address" required="required">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" name="subject" class="form-control" placeholder="Subject" required="required">
                </div>
                <div class="form-group">
                  <textarea name="message" id="message" class="form-control" rows="4" placeholder="Enter your message" required="required"></textarea>
                </div>                        
                <div class="form-group">
                  <button type="submit" class="btn-submit">Send Now</button>
                </div>
              </form>   
            </div>
            <div class="col-sm-6">
              <div class="contact-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <p>Universidade Federal de Alagoas - Campus Arapiraca</p>
                <ul class="address">
                  <li><i class="fa fa-map-marker"></i> <span> Endereço:</span> Av. Manoel Severino Barbosa, s/n Bom Sucesso - Arapiraca - AL, CEP: 57309-005</li>
                  <li><i class="fa fa-phone"></i> <span> Telefone:</span> (82) 3482-1840 </li>
                  <li><i class="fa fa-envelope"></i> <span> Email:</span><a href="mailto:coordenacao.cpt@ufal.br"> coordenacao.cpt@arapiraca.ufal.br</a></li>
                  <li><i class="fa fa-globe"></i> <span> Site:</span> <a href="#">ufal.edu.br</a></li>
                </ul>
              </div>                            
            </div>
          </div>
        </div>
      </div>
    </div>        
  </section><!--/#contact-->
  <footer id="footer">
    <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
      <div class="container text-center">
        <div class="footer-logo">
          <a href="index.html"><img class="img-responsive" src="images/logo.png" alt=""></a>
        </div>
        <div class="social-icons">
          <ul>
            <li><a class="envelope" href="#"><i class="fa fa-envelope"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li> 
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="tumblr" href="#"><i class="fa fa-tumblr-square"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <p>&copy; 2016 Oxygen Theme.</p>
          </div>
          <div class="col-sm-6">
            <p class="pull-right">Crafted by <a href="http://designscrazed.org/">Allie</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="js/jquery.inview.min.js"></script>
  <script type="text/javascript" src="js/wow.min.js"></script>
  <script type="text/javascript" src="js/mousescroll.js"></script>
  <script type="text/javascript" src="js/smoothscroll.js"></script>
  <script type="text/javascript" src="js/jquery.countTo.js"></script>
  <script type="text/javascript" src="js/lightbox.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>

</body>
</html>