<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Calendário de Atividades de TCC - Ufal - Ciência da Computação</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/animate.min.css" rel="stylesheet"> 
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/lightbox.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link id="css-preset" href="css/presets/preset1.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">

  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
  <![endif]-->
  
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="images/logo_cc.gif">
</head><!--/head-->

<body>

  <!--.preloader-->
  <div class="preloader"> <i class="fa fa-circle-o-notch fa-spin"></i></div>
  <!--/.preloader-->

  <header id="home">
    <div class="main-nav">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">
            <h1><img class="img-responsive" src="images/logo.png" alt="logo"></h1>
          </a>                    
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">                 
            <li class="scroll "><a href="#home">Home</a></li>
            <li class="scroll"><a href="documentos.html">Documentos</a></li> 
            <li class="scroll active"><a href="tcc.html">TCC</a></li> 
            <li class="scroll"><a href="matriz.html">Matriz Curricular</a></li>                     
            <li class="scroll"><a href="#portfolio">Professores</a></li>
            <li class="scroll"><a href="horarios.html">Horários</a></li>
            <li class="scroll"><a href="administ.html">Administração</a></li>
            <li class="scroll"><a href="#contact">Contato</a></li>       
          </ul>
        </div>
      </div>
    </div><!--/#main-nav-->
  </header><!--/#home-->
  <section id="about-us" class="parallax">
    <div class="container">
      <div class="row">
        <h2>&nbsp;&nbsp;&nbsp;&nbsp;Calendário de Atividades de TCC</h2>
        <div class="col-sm-12">
          <div class="text-justify about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            
            <div class="col-sm-12 text-justify">
              <p>Ano Letivo de 2017</p><br>
                <table class="table "><!--tabela 1-->
                  <thead class="text-center">
                      <th bgcolor="213AB3" colspan="2">2017.1</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td bgcolor="1A2544">1. Período de cadastro de projeto de TCC</td>
                      <td bgcolor="121212">31/jul/2017 – 28/ago/2017</td>
                    </tr>
                  
                    <tr>
                      <td bgcolor="1A2544">2. Publicação de projetos homologados</td>
                      <td bgcolor="121212">10/set/2017</td>
                    </tr>
                    <tr>
                      <td bgcolor="1A2544">&nbsp;2.1 Período para recorrer do resultado da homologação</td>
                      <td bgcolor="121212">11 a 15/set/2017</td>
                    </tr>
                    <tr>
                      <td bgcolor="1A2544">&nbsp;2.2 Publicação de resultado dos recursos</td>
                      <td bgcolor="121212">até o dia 20/set/2017</td>
                    </tr>
                    <tr>
                      <td bgcolor="1A2544">3. Prazo de mudança de orientação</td>
                      <td bgcolor="121212">30/set/2017</td>
                    </tr>
                    <tr>
                      <td bgcolor="1A2544">4. Período de agendamento de defesa</td>
                      <td bgcolor="121212">01 a 19/nov/2017</td>
                    </tr>
                    <tr>
                      <td bgcolor="1A2544">5. Período de defesa</td>
                      <td bgcolor="121212">20/nov/2017 a 20/dez/2017</td>
                    </tr>  
                  </tbody>
                </table>
                <p>Ano Letivo de 2016</p><br>     
                <table class="table "><!--tabela 1-->
                      <thead class="text-center">
                          <th bgcolor="213AB3" colspan="2">2016.2</th>
                      </thead>
                      <tbody>
                        <tr>
                          <td bgcolor="1A2544">1. Período de cadastro de projeto de TCC</td>
                          <td bgcolor="121212">20/jun/2016 - 20/jul/2016</td>
                        </tr>
                      
                        <tr>
                          <td bgcolor="1A2544">2. Publicação de projetos homologados</td>
                          <td bgcolor="121212">05/ago/2016</td>
                        </tr>
                        <tr>
                          <td bgcolor="1A2544">&nbsp;2.1 Período para recorrer do resultado da homologação</td>
                          <td bgcolor="121212">09/ago/2016</td>
                        </tr>
                        <tr>
                          <td bgcolor="1A2544">3. Prazo de mudança de orientação</td>
                          <td bgcolor="121212">20/ago/2016</td>
                        </tr>
                        <tr>
                          <td bgcolor="1A2544">4. Período de agendamento de defesa</td>
                          <td bgcolor="121212">23/set/2016 - 08/out/2016</td>
                        </tr>
                        <tr>
                          <td bgcolor="1A2544">5. Período de defesa</td>
                          <td bgcolor="121212">8/out/2016 - 07/nov/2016</td>
                        </tr>  
                      </tbody>
                    </table>
                <table class="table "><!--tabela 1-->
                      <thead class="text-center">
                          <th bgcolor="213AB3" colspan="2">2016.1</th>
                      </thead>
                      <tbody>
                        <tr>
                          <td bgcolor="1A2544">1. Período de cadastro de projeto de TCC</td>
                          <td bgcolor="121212">13/fev/2017 - 15/mar/2017</td>
                        </tr>
                      
                        <tr>
                          <td bgcolor="1A2544">2. Publicação de projetos homologados</td>
                          <td bgcolor="121212">17/mar/2017</td>
                        </tr>
                        <tr>
                          <td bgcolor="1A2544">&nbsp;2.1 Período para recorrer do resultado da homologação</td>
                          <td bgcolor="121212">20/mar/2017</td>
                        </tr>
                        <tr>
                          <td bgcolor="1A2544">3. Prazo de mudança de orientação</td>
                          <td bgcolor="121212">03/abr/2017</td>
                        </tr>
                        <tr>
                          <td bgcolor="1A2544">4. Período de agendamento de defesa</td>
                          <td bgcolor="121212">15/mai/2017 - 04/jun/2017</td>
                        </tr>
                        <tr>
                          <td bgcolor="1A2544">5. Período de defesa</td>
                          <td bgcolor="121212">05/jun/2017 - 30/jun/2017</td>
                        </tr>  
                      </tbody>
                    </table><br><br>    
              </div></div>
            </div>
        </div>
      </div>
    </div>

  

  <section id="contact">
    <div id="contact-us" class="parallax">
      <div class="container">
        <div class="row">
          <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2>Contato</h2>
            <p>Critique, Sugira, Inove e, assim, colabore para que o ARACOMP seja um canal de referência na área.</p>
          </div>
        </div>
        <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
          <div class="row">
            <div class="col-sm-6">
              <form id="main-contact-form" name="contact-form" method="post" action="#">
                <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="text" name="name" class="form-control" placeholder="Name" required="required">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="email" name="email" class="form-control" placeholder="Email Address" required="required">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" name="subject" class="form-control" placeholder="Subject" required="required">
                </div>
                <div class="form-group">
                  <textarea name="message" id="message" class="form-control" rows="4" placeholder="Enter your message" required="required"></textarea>
                </div>                        
                <div class="form-group">
                  <button type="submit" class="btn-submit">Send Now</button>
                </div>
              </form>   
            </div>
            <div class="col-sm-6">
              <div class="contact-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <p>Universidade Federal de Alagoas - Campus Arapiraca</p>
                <ul class="address">
                  <li><i class="fa fa-map-marker"></i> <span> Endereço:</span> Av. Manoel Severino Barbosa, s/n Bom Sucesso - Arapiraca - AL, CEP: 57309-005</li>
                  <li><i class="fa fa-phone"></i> <span> Telefone:</span> (82) 3482-1840 </li>
                  <li><i class="fa fa-envelope"></i> <span> Email:</span><a href="mailto:coordenacao.cpt@ufal.br"> coordenacao.cpt@arapiraca.ufal.br</a></li>
                  <li><i class="fa fa-globe"></i> <span> Site:</span> <a href="#">ufal.edu.br</a></li>
                </ul>
              </div>                            
            </div>
          </div>
        </div>
      </div>
    </div>        
  </section><!--/#contact-->
  <footer id="footer">
    <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
      <div class="container text-center">
        <div class="footer-logo">
          <a href="index.html"><img class="img-responsive" src="images/logo.png" alt=""></a>
        </div>
        <div class="social-icons">
          <ul>
            <li><a class="envelope" href="#"><i class="fa fa-envelope"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li> 
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="tumblr" href="#"><i class="fa fa-tumblr-square"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <p>&copy; 2016 Oxygen Theme.</p>
          </div>
          <div class="col-sm-6">
            <p class="pull-right">Crafted by <a href="http://designscrazed.org/">Allie</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="js/jquery.inview.min.js"></script>
  <script type="text/javascript" src="js/wow.min.js"></script>
  <script type="text/javascript" src="js/mousescroll.js"></script>
  <script type="text/javascript" src="js/smoothscroll.js"></script>
  <script type="text/javascript" src="js/jquery.countTo.js"></script>
  <script type="text/javascript" src="js/lightbox.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>

</body>
</html>