<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>FAQ - Ufal - Ciência da Computação</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/animate.min.css" rel="stylesheet"> 
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/lightbox.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link id="css-preset" href="css/presets/preset1.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">

  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
  <![endif]-->
  
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="images/logo_cc.gif">
</head><!--/head-->

<body>

  <!--.preloader-->
  <div class="preloader"> <i class="fa fa-circle-o-notch fa-spin"></i></div>
  <!--/.preloader-->

  <header id="home">
    <div class="main-nav">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">
            <h1><img class="img-responsive" src="images/logo.png" alt="logo"></h1>
          </a>                    
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">                 
            <li class="scroll "><a href="#home">Home</a></li>
            <li class="scroll"><a href="documentos.html">Documentos</a></li> 
            <li class="scroll"><a href="tcc.html">TCC</a></li> 
            <li class="scroll"><a href="matriz.html">Matriz Curricular</a></li>                     
            <li class="scroll"><a href="#portfolio">Professores</a></li>
            <li class="scroll"><a href="horarios.html">Horários</a></li>
            <li class="scroll"><a href="administ.html">Administração</a></li>
            <li class="scroll active"><a href="FAQ.html">FAQ</a></li>
            <li class="scroll"><a href="#contact">Contato</a></li>       
          </ul>
        </div>
      </div>
    </div><!--/#main-nav-->
  </header><!--/#home-->
  <section id="about-us" class="parallax">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="text-justify about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2>FAQ</h2>
            <table class="table "><!--tabela 1-->
                  <thead class="text-center">
                    <tr bgcolor="#7888BD">
                      <th bgcolor="213AB3">Conteúdo</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td bgcolor="121212"><a href="#informacoes">1. O que eu preciso fazer para me formar?</a></td>
                    </tr>
                    <tr>
                      <td bgcolor="121212"><a href="#prazo">2. Estou com o prazo de 12 semestres letivos acabando e não vou me formar. O que devo fazer?</a></td>
                    </tr>
                    <tr>
                      <td bgcolor="121212"><a href="#trancamento">3. Qual o procedimento para trancar o curso (ou algumas disciplinas específicas)?</a></td>
                    </tr>
                    <tr>
                      <td bgcolor="121212"><a href="#atendimento">4. Qual o horário de atendimento do Coordenador?</a></td>
                    </tr>
                    <tr>
                      <td bgcolor="121212"><a href="#laboratorio">5. Quais laboratórios do curso eu posso acessar?</a></td>
                    </tr>
                  </tbody>
                </table>
            <a name="informacoes"></a>
            <h3 class="text-justify"><b>O que eu preciso fazer para me formar?</b></h3>
            <p class="text-justify">
              <b>Siga o algoritmo abaixo.</b>
              <ol type="a">
                <li class="text-justify">Seja aprovado em todas as disciplinas obrigatórias;</li>
                <li class="text-justify">Seja aprovado em, ao menos, duas disciplinas eletivas, totalizando 120h;</li>
                <li class="text-justify">Cumpra a carga horária flexível (atividades complementares) de acordo com o define o PPC;</li>
                <li class="text-justify">Escreva e apresente o TCC;</li>
                <li class="text-justify">Entregue ata de defesa do TCC à coordenação do curso (ou à secretaria do mesmo);</li>
                <li class="text-justify">Envie ao email do coordenador de atividades complementares um único arquivo (em PDF) contendo todos os comprovantes destas atividades e apresente os comprovantes originais para que ele possa validá-los;</li>
                <li class="text-justify">Entregue a versão final do TCC à biblioteca do campus e lá mesmo pegue o nada consta;</li>
                <li class="text-justify">Dê entrada no processo de colação de grau junto ao CRCA.</li>
              </ol>

              O Projeto Pedagógico do Curso (PPC), pode ser encontrado <a href="http://bit.ly/2wGfMZD">aqui</a><br><br>
              <a name="prazo"></a>  
              <b>Ficou com dúvida em algum dos passos acima? Procure:</b>
              <ul>
                <li class="text-justify">a, b, e - O <a href="administ.html">coordenador</a>do curso (ou a secretaria - tel. 3482-1840)</li>
                <li class="text-justify">c, f - O <a href="administ.html">coordenador</a> de estágio e atividades complementares</li>
                <li class="text-justify">d - O <a href="administ.html">coordenador</a> de TCC</li><a name="trancamento"></a>
                <li class="text-justify">g - o coordenador de TCC ou diretor da biblioteca (tel. 3482-1835)</li>
                <li class="text-justify">h - os servidores do CRCA (tel. 3482-1833)</li>
              </ul>
            </p>

           <h3 class="text-justify"><b>Estou com o prazo de 12 semestres letivos acabando e não vou me formar. O que devo fazer?</b></h3></a>
            <a name="atendimento"></a>
            <p class="text-justify">O formulário de solicitação de prorrogação do prazo deve ser preenchido, impresso, assinado e entregue na coordenação do curso. Esta solicitação passará por avaliação na reunião do Colegiado do curso e não necessariamente será aprovada. O referido formulário pode ser encontrado <a href="documentos.html">aqui.</a></p>
            <a name="trancamento"></a>

            <h3 class="text-justify"><b>Qual o procedimento para trancar o curso (ou algumas disciplinas específicas)?</b></h3><a name="laboratorio"></a>
            <p class="text-justify">Há um período para que possa ser feito o trancamento. Este período é indicado no Calendário Acadêmico divulgado pela Ufal. Geralmente este período é (sempre tem sido) no início do semestre letivo. O aluno deve se dirigir ao CRCA e solicitar o trancamento. Para isso, deverá preencher um formulário específico indicando quais disciplinas deseja trancar ou se vai trancar todo o período. Vale ressaltar que caso o aluno esteja enquadrado no 1º período do curso, não poderá efetuar o trancamento. Importante também observar que os períodos trancados não contabilizam para a integralização do curso.</p>
            
            
            <h3 class="text-justify"><b>Qual o horário de atendimento do Coordenador?</b></h3>
            <p class="text-justify">O horário do coordenador e da coordenação podem ser conferidos <a href="horarios.html">aqui</a>. Contudo, muitas solicitações podem ser feitas junto aos servidores técnicos que repassarão ao Coordenador assim que possível.aqui.</p>

            <h3 class="text-justify"><b>Quais laboratórios do curso eu posso acessar?</b></h3>
            <p class="text-justify">O curso conta com dois tipos de laboratórios de ensino e cinco de pesquisa, desenvolvimento e extensão. Se o aluno estiver vinculado a algum projeto de pesquisa e/ou extensão, obterá permissão de acesso ao laboratório específico (LAMP ou NCEx) ao seu orientador. Se o aluno não possuir tal vínculo, o mesmo pode acessar os laboratórios voltados às atividades de ensino (LECC 1 e 2), desde que haja algum <a href="horarios.html">aluno responsável</a> e que não haja aula no momento.</p>
          
          </div>
        </div>
      </div>
    </div>

  

  <section id="contact">
    <div id="contact-us" class="parallax">
      <div class="container">
        <div class="row">
          <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2>Contato</h2>
            <p>Critique, Sugira, Inove e, assim, colabore para que o ARACOMP seja um canal de referência na área.</p>
          </div>
        </div>
        <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
          <div class="row">
            <div class="col-sm-6">
              <form id="main-contact-form" name="contact-form" method="post" action="#">
                <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="text" name="name" class="form-control" placeholder="Name" required="required">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="email" name="email" class="form-control" placeholder="Email Address" required="required">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" name="subject" class="form-control" placeholder="Subject" required="required">
                </div>
                <div class="form-group">
                  <textarea name="message" id="message" class="form-control" rows="4" placeholder="Enter your message" required="required"></textarea>
                </div>                        
                <div class="form-group">
                  <button type="submit" class="btn-submit">Send Now</button>
                </div>
              </form>   
            </div>
            <div class="col-sm-6">
              <div class="contact-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <p>Universidade Federal de Alagoas - Campus Arapiraca</p>
                <ul class="address">
                  <li><i class="fa fa-map-marker"></i> <span> Endereço:</span> Av. Manoel Severino Barbosa, s/n Bom Sucesso - Arapiraca - AL, CEP: 57309-005</li>
                  <li><i class="fa fa-phone"></i> <span> Telefone:</span> (82) 3482-1840 </li>
                  <li><i class="fa fa-envelope"></i> <span> Email:</span><a href="mailto:coordenacao.cpt@ufal.br"> coordenacao.cpt@arapiraca.ufal.br</a></li>
                  <li><i class="fa fa-globe"></i> <span> Site:</span> <a href="#">ufal.edu.br</a></li>
                </ul>
              </div>                            
            </div>
          </div>
        </div>
      </div>
    </div>        
  </section><!--/#contact-->
  <footer id="footer">
    <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
      <div class="container text-center">
        <div class="footer-logo">
          <a href="index.html"><img class="img-responsive" src="images/logo.png" alt=""></a>
        </div>
        <div class="social-icons">
          <ul>
            <li><a class="envelope" href="#"><i class="fa fa-envelope"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li> 
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="tumblr" href="#"><i class="fa fa-tumblr-square"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <p>&copy; 2016 Oxygen Theme.</p>
          </div>
          <div class="col-sm-6">
            <p class="pull-right">Crafted by <a href="http://designscrazed.org/">Allie</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="js/jquery.inview.min.js"></script>
  <script type="text/javascript" src="js/wow.min.js"></script>
  <script type="text/javascript" src="js/mousescroll.js"></script>
  <script type="text/javascript" src="js/smoothscroll.js"></script>
  <script type="text/javascript" src="js/jquery.countTo.js"></script>
  <script type="text/javascript" src="js/lightbox.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>

</body>
</html>