<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Horários - Ufal - Ciência da Computação</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/animate.min.css" rel="stylesheet"> 
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/lightbox.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link id="css-preset" href="css/presets/preset1.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">

  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
  <![endif]-->
  
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="images/logo_cc.gif">
</head><!--/head-->

<body>

  <!--.preloader-->
  <div class="preloader"> <i class="fa fa-circle-o-notch fa-spin"></i></div>
  <!--/.preloader-->

  <header id="home">
    
    <div class="main-nav">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">
            <h1><img class="img-responsive" src="images/logo.png" alt="logo"></h1>
          </a>                    
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">                 
            <li class="scroll "><a href="#home">Home</a></li>
            <li class="scroll"><a href="documentos.html">Documentos</a></li> 
            <li class="scroll"><a href="tcc.html">TCC</a></li> 
            <li class="scroll"><a href="matriz.html">Matriz Curricular</a></li>                     
            <li class="scroll"><a href="#portfolio">Professores</a></li>
            <li class="scroll active"><a href="horarios.html">Horários</a></li>
            <li class="scroll"><a href="administ.html">Administração</a></li>
            <li class="scroll"><a href="FAQ.html">FAQ</a></li>
            <li class="scroll"><a href="#contact">Contato</a></li>       
          </ul>
        </div>
      </div>
    </div><!--/#main-nav-->
  </header><!--/#home-->
  
  <section>
    <div class="container">
      <div class="row">
        <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
          <h2>Horários</h2>
          <p style = "font-size: 130%"><b>FUNCIONAMENTO DA COORDENAÇÃO</b><br><br>
                <b>Secretaria</b><br>
                Segunda a sexta: 8h as 17h.<br><br>

                <b>Atendimento aos alunos</b><br>
                Terça-feira 08:00 - 12:00<br>
                Quarta-feira  15:20 - 17:00<br>
                Quinta-Feira 13:30 - 17:00</p>
        </div>
    <div class="col-sm-12">    
        <div class="col-sm-2"> </div>    
        <div class="col-sm-8 text-center">
            <table class="table "><!--tabela 1-->
              <thead class="text-center">
                <tr>
                  <p style = "font-size: 130%"><b>Horários das disciplinas ofertadas no período 2017.1</b><br>
                </tr>
                <tr bgcolor="#7888BD">
                  <th bgcolor="6FA2D9">Extras</th>
                  <th>Segunda</th>
                  <th>Terça</th>
                  <th>Quarta</th>
                  <th>Quinta</th>
                  <th>Sexta</th>
                  <th> </th>
                  <th> </th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>07:30 - 08:20 </td>
                  <td> </td>
                  <td> </td>
                  <td> </td>
                  <td> </td>
                  <td>P1-B</td>
                  <td bgcolor="CBCBCB">LP1-B</td>
                  <td bgcolor="E0BD95">A. Barbosa</td>
                </tr>
                <tr>
                  <td>08:20 - 09:10</td>
                  <td> </td>
                  <td> </td>
                  <td> </td>
                  <td> </td>
                  <td>P1-B</td>
                  <td bgcolor="CBCBCB">P1-B</td>
                  <td bgcolor="E0BD95">Tércio</td>
                </tr>
                <tr>
                  <td>09:20 - 10:10</td>
                  <td> </td>
                  <td bgcolor="E67272">Reunião</td>
                  <td>LP1-B</td>
                  <td> </td>
                  <td>P1-B</td>
                  <td bgcolor="CBCBCB">TC-B</td>
                  <td bgcolor="E0BD95">A. Paes</td>
                </tr>
                <tr>
                  <td>10:10 - 11:00</td>     
                  <td>GP</td>
                  <td bgcolor="E67272">Reunião</td>
                  <td>LP1-B</td>
                  <td>TC-B</td>
                  <td>TC-B</td>
                  <td bgcolor="CBCBCB">GP</td>
                  <td bgcolor="E0BD95">Afonso</td>
                </tr>
                <tr>
                  <td>11:10 - 12:00</td>
                  <td>GP</td>
                  <td bgcolor="E67272">Reunião</td>
                  <td>LP1-B</td>
                  <td>TC-B</td>
                  <td>TC-B</td>
                </tr>
              </tbody>
            </table>
            <table class="table "><!--tabela 2-->
              <thead class="text-center">
                <tr bgcolor="#7888BD">
                  <th bgcolor="6FA2D9">2º</th>
                  <th>Segunda</th>
                  <th>Terça</th>
                  <th>Quarta</th>
                  <th>Quinta</th>
                  <th>Sexta</th>
                  <th> </th>
                  <th> </th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>12:40 - 13:30 </td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>ISI</td>
                  <td>Mário</td>
                </tr>
                <tr>
                  <td>13:30 - 14:20</td>
                  <td></td>
                  <td> </td>
                  <td> </td>
                  <td> </td>
                  <td> </td>
                  <td>ITI</td>
                  <td>Mário</td>
                </tr>
                <tr>
                  <td>14:20 - 15:10</td>
                  <td></td>
                  <td> </td>
                  <td></td>
                  <td> </td>
                  <td></td>
                  <td>IC</td>
                  <td>Elthon</td>
                </tr>
                <tr>
                  <td>15:20 - 16:10</td>     
                  <td>IC</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td bgcolor="70C873">ITI/ISI: Adm</td>
                </tr>
                <tr>
                  <td>16:10 - 17:00</td>
                  <td>IC</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td bgcolor="70C873">IC: Arquit</td>
                </tr>
                <tr>
                  <td>17:10 - 18:00</td>
                  <td>IC</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>

            <table class="table"><!--tabela 4-->
              <thead class="text-center">
                <tr bgcolor="#7888BD">
                  <th bgcolor="6FA2D9">3º</th>
                  <th>Segunda</th>
                  <th>Terça</th>
                  <th>Quarta</th>
                  <th>Quinta</th>
                  <th>Sexta</th>
                  <th> </th>
                  <th> </th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>12:40 - 13:30 </td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td bgcolor="CBCBCB">P1</td>
                  <td bgcolor="E0BD95">A. Barbosa</td>
                </tr>
                <tr>
                  <td>13:30 - 14:20</td>
                  <td>Calc2</td>
                  <td>AL</td>
                  <td>Calc2</td>
                  <td>EngReq</td>
                  <td>AL</td>
                  <td bgcolor="CBCBCB">LP1</td>
                  <td bgcolor="E0BD95">A. Barbosa</td>
                </tr>
                <tr>
                  <td>14:20 - 15:10</td>
                  <<td>Calc2</td>
                  <td>AL</td>
                  <td>Calc2</td>
                  <td>EngReq</td>
                  <td>AL</td>
                  <td bgcolor="CBCBCB">LAC</td>
                  <td bgcolor="E0BD95">Elthon</td>
                </tr>
                <tr>
                  <td>15:20 - 16:10</td>     
                  <td>EB</td>
                  <td>LAC</td>
                  <td>P1</td>
                  <td>LP1</td>
                  <td></td>
                  <td bgcolor="CBCBCB">Cálc2</td>
                  <td bgcolor="E0BD95">Wagner</td>
                </tr>
                <tr>
                  <td>16:10 - 17:00</td>     
                  <td>EB</td>
                  <td>LAC</td>
                  <td>P1</td>
                  <td>LP1</td>
                  <td></td>
                  <td bgcolor="CBCBCB">EB</td>
                  <td bgcolor="E0BD95">Rômulo </td>
                </tr>
                <tr>
                  <td>17:10 - 18:00</td>     
                  <td>EB</td>
                  <td>LAC</td>
                  <td>P1</td>
                  <td>LP1</td>
                  <td></td>
                  <td bgcolor="CBCBCB">AL</td>
                  <td bgcolor="E0BD95">José Arnaldo</td>
                </tr>
              </tbody>
            </table>
            <table class="table"><!--tabela 4-->
              <thead class="text-center">
                <tr bgcolor="#7888BD">
                  <th bgcolor="6FA2D9">5º</th>
                  <th>Segunda</th>
                  <th>Terça</th>
                  <th>Quarta</th>
                  <th>Quinta</th>
                  <th>Sexta</th>
                  <th> </th>
                  <th> </th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>12:40 - 13:30 </td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td bgcolor="CBCBCB">LP3</td>
                  <td bgcolor="E0BD95">A. Barbosa</td>
                </tr>
                <tr>
                  <td>13:30 - 14:20</td>
                  <td>TC</td>
                  <td>TC</td>
                  <td>SO</td>
                  <td>DirDig</td>
                  <td>SO</td>
                  <td bgcolor="CBCBCB">SisDig</td>
                  <td bgcolor="E0BD95">Raquel</td>
                </tr>
                <tr>
                  <td>14:20 - 15:10</td>
                  <td>TC</td>
                  <td>TC</td>
                  <td>SO</td>
                  <td>DirDig</td>
                  <td>SO</td>
                  <td bgcolor="CBCBCB">ES2</td>
                  <td bgcolor="E0BD95">Patrick</td>
                </tr>
                <tr>
                  <td>15:20 - 16:10</td>     
                  <td></td>
                  <td>LP3</td>
                  <td>ES2 </td>
                  <td>SisDig</td>
                  <td></td>
                  <td bgcolor="CBCBCB">SO</td>
                  <td bgcolor="E0BD95">Raquel</td>
                </tr>
                <tr>
                  <td>16:10 - 17:00</td>     
                  <td></td>
                  <td>LP3</td>
                  <td>ES2 </td>
                  <td>SisDig</td>
                  <td></td>
                  <td bgcolor="CBCBCB">DirDig</td>
                  <td bgcolor="E0BD95">Gilson </td>
                </tr>
                <tr>
                  <td>17:10 - 18:00</td>     
                  <td></td>
                  <td>LP3</td>
                  <td>ES2 </td>
                  <td>SisDig</td>
                  <td></td>
                  <td bgcolor="CBCBCB">TC</td>
                  <td bgcolor="E0BD95">Elthon</td>
                </tr>
              </tbody>
            </table>

            <table class="table"><!--tabela 5-->
              <thead class="text-center">
                <tr bgcolor="#7888BD">
                  <th bgcolor="6FA2D9">7º</th>
                  <th>Segunda</th>
                  <th>Terça</th>
                  <th>Quarta</th>
                  <th>Quinta</th>
                  <th>Sexta</th>
                  <th> </th>
                  <th> </th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>12:40 - 13:30 </td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td bgcolor="CBCBCB">RC2</td>
                  <td bgcolor="E0BD95">Thiago</td>
                </tr>
                <tr>
                  <td>13:30 - 14:20</td>
                  <td>PLP</td>
                  <td>Comp</td>
                  <td>RC2</td>
                  <td>RC2</td>
                  <td>CP</td>
                  <td bgcolor="CBCBCB">PLP</td>
                  <td bgcolor="E0BD95">Thiago</td>
                </tr>
                <tr>
                  <td>14:20 - 15:10</td>
                  <td>PLP</td>
                  <td>Comp</td>
                  <td>RC2</td>
                  <td>RC2</td>
                  <td>CP</td>
                  <td bgcolor="CBCBCB">Comp</td>
                  <td bgcolor="E0BD95">A. Paes</td>
                </tr>
                <tr>
                  <td>15:20 - 16:10</td>     
                  <td>PLP</td>
                  <td>Comp</td>
                  <td>PI</td>
                  <td>SisDis</td>
                  <td>CP</td>
                  <td bgcolor="CBCBCB">SisDis</td>
                  <td bgcolor="E0BD95">Tércio</td>
                </tr>
                <tr>
                  <td>16:10 - 17:00</td>     
                  <td></td>
                  <td></td>
                  <td>PI</td>
                  <td>SisDis</td>
                  <td></td>
                  <td bgcolor="CBCBCB">PI</td>
                  <td bgcolor="E0BD95">Fabiane</td>
                </tr>
                <tr>
                  <td>17:10 - 18:00</td>     
                  <td></td>
                  <td></td>
                  <td>PI</td>
                  <td>SisDis</td>
                  <td></td>
                  <td bgcolor="CBCBCB">CP</td>
                  <td bgcolor="E0BD95">Tércio</td>
                </tr>
              </tbody>
            </table>
          </div>                
    </div>
  </section><!--/#team-->
  

  <section id="contact">
    <div id="contact-us" class="parallax">
      <div class="container">
        <div class="row">
          <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2>Contato</h2>
            <p>Critique, Sugira, Inove e, assim, colabore para que o ARACOMP seja um canal de referência na área.</p>
          </div>
        </div>
        <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
          <div class="row">
            <div class="col-sm-6">
              <form id="main-contact-form" name="contact-form" method="post" action="#">
                <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="text" name="name" class="form-control" placeholder="Name" required="required">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="email" name="email" class="form-control" placeholder="Email Address" required="required">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" name="subject" class="form-control" placeholder="Subject" required="required">
                </div>
                <div class="form-group">
                  <textarea name="message" id="message" class="form-control" rows="4" placeholder="Enter your message" required="required"></textarea>
                </div>                        
                <div class="form-group">
                  <button type="submit" class="btn-submit">Send Now</button>
                </div>
              </form>   
            </div>
            <div class="col-sm-6">
              <div class="contact-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <p>Universidade Federal de Alagoas - Campus Arapiraca</p>
                <ul class="address">
                  <li><i class="fa fa-map-marker"></i> <span> Endereço:</span> Av. Manoel Severino Barbosa, s/n Bom Sucesso - Arapiraca - AL, CEP: 57309-005</li>
                  <li><i class="fa fa-phone"></i> <span> Telefone:</span> (82) 3482-1840 </li>
                  <li><i class="fa fa-envelope"></i> <span> Email:</span><a href="mailto:coordenacao.cpt@ufal.br"> coordenacao.cpt@arapiraca.ufal.br</a></li>
                  <li><i class="fa fa-globe"></i> <span> Site:</span> <a href="#">ufal.edu.br</a></li>
                </ul>
              </div>                            
            </div>
          </div>
        </div>
      </div>
    </div>        
  </section><!--/#contact-->
  <footer id="footer">
    <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
      <div class="container text-center">
        <div class="footer-logo">
          <a href="index.html"><img class="img-responsive" src="images/logo.png" alt=""></a>
        </div>
        <div class="social-icons">
          <ul>
            <li><a class="envelope" href="#"><i class="fa fa-envelope"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li> 
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="tumblr" href="#"><i class="fa fa-tumblr-square"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <p>&copy; 2016 Oxygen Theme.</p>
          </div>
          <div class="col-sm-6">
            <p class="pull-right">Crafted by <a href="http://designscrazed.org/">Allie</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="js/jquery.inview.min.js"></script>
  <script type="text/javascript" src="js/wow.min.js"></script>
  <script type="text/javascript" src="js/mousescroll.js"></script>
  <script type="text/javascript" src="js/smoothscroll.js"></script>
  <script type="text/javascript" src="js/jquery.countTo.js"></script>
  <script type="text/javascript" src="js/lightbox.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>

</body>
</html>