<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Matriz Curricular - Ufal - Ciência da Computação</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/animate.min.css" rel="stylesheet"> 
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/lightbox.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link id="css-preset" href="css/presets/preset1.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">

  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
  <![endif]-->
  
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="images/logo_cc.gif">
</head><!--/head-->

<body>

  <!--.preloader-->
  <div class="preloader"> <i class="fa fa-circle-o-notch fa-spin"></i></div>
  <!--/.preloader-->

  <header id="home">
    
    </div><!--/#home-slider-->
    <div class="main-nav">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">
            <h1><img class="img-responsive" src="images/logo.png" alt="logo"></h1>
          </a>                    
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">                 
            <li class="scroll"><a href="#home">Home</a></li>
            <li class="scroll"><a href="documentos.html">Documentos</a></li> 
            <li class="scroll"><a href="tcc.html">TCC</a></li> 
            <li class="scroll active"><a href="matriz.html">Matriz Curricular</a></li>                     
            <li class="scroll"><a href="#portfolio">Professores</a></li>
            <li class="scroll"><a href="horarios.html">Horários</a></li>
            <li class="scroll"><a href="administ.html">Administração</a></li>
            <li class="scroll"><a href="#contact">Contato</a></li>       
          </ul>
        </div>
      </div>
    </div><!--/#main-nav-->
  </header><!--/#home-->
  
    <div class="col-sm-12">    
        <div class="col-sm-2"> </div>    
        <div class="col-sm-8 text-center">
        <div class="row">
          <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
            <br><br><h2>Matriz Curricular</h2>
            <p>PPC 2011</p>
          </div>
        </div>
            <table class="table "><!--tabela 1-->
              <thead class="text-center">
                <tr>
                  <p style = "font-size: 130%"><b>1º Período:</b><br>
                </tr>
                <tr bgcolor="#7888BD">
                  <th bgcolor="6FA2D9">CÓDIGO</th>
                  <th bgcolor="EA7D7D">DISCIPLINA</th>
                  <th bgcolor="7DEA80">CARGA HORÁRIA TEÓRICA</th>
                  <th bgcolor="DDE780">CARGA HORÁRIA PRÁTICA</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>TRIN001</td>
                  <td>Sociedade, Natureza e Desenvolvimento</td>
                  <td>120</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>TRIN002</td>
                  <td>Produção do Conhecimento</td>
                  <td>120</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>TRIN003</td>
                  <td>Lógica, Informática e Comunicação</td>
                  <td>80</td>
                  <td>40</td>
                </tr>
                <tr>
                  <td>TRIN004</td>     
                  <td>Seminário Integrador I</td>
                  <td>0</td>
                  <td>40</td>  
                </tr>
               
              </tbody>
            </table>
           <table class="table "><!--tabela 1-->
              <thead class="text-center">
                <tr>
                  <p style = "font-size: 130%"><b>2º Período:</b><br>
                </tr>
                <tr bgcolor="#7888BD">
                  <th bgcolor="6FA2D9">CÓDIGO</th>
                  <th bgcolor="EA7D7D">DISCIPLINA</th>
                  <th bgcolor="7DEA80">CARGA HORÁRIA TEÓRICA</th>
                  <th bgcolor="DDE780">CARGA HORÁRIA PRÁTICA</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>TECN006</td>
                  <td>Seminário Integrador II</td>
                  <td>20</td>
                  <td>20</td>
                </tr>
                <tr>
                  <td>TECN007</td>
                  <td>Expressão Gráfica</td>
                  <td>20</td>
                  <td>40</td>
                </tr>
                <tr>
                  <td>TECN008</td>
                  <td>Introdução à Computação</td>
                  <td>30</td>
                  <td>30</td>
                </tr>
                <tr>
                  <td>TECN009</td>     
                  <td>Estatística e Probabilidade</td>
                  <td>40</td>
                  <td>20</td>  
                </tr>
                <tr>
                  <td>TECN010</td>     
                  <td>Geometria Analítica</td>
                  <td>60</td>
                  <td>0</td>  
                </tr><tr>
                  <td>TECN011</td>     
                  <td>Cálculo I</td>
                  <td>80</td>
                  <td>0</td>  
                </tr><tr>
                  <td>TECN012</td>     
                  <td>Ética e Exercício Profissional</td>
                  <td>40</td>
                  <td>  0</td>  
                </tr>
               
              </tbody>
            </table>
            <table class="table "><!--tabela 1-->
              <thead class="text-center">
                <tr>
                  <p style = "font-size: 130%"><b>3º Período:</b><br>
                </tr>
                <tr bgcolor="#7888BD">
                  <th bgcolor="6FA2D9">CÓDIGO</th>
                  <th bgcolor="EA7D7D">DISCIPLINA</th>
                  <th bgcolor="7DEA80">CARGA HORÁRIA TEÓRICA</th>
                  <th bgcolor="DDE780">CARGA HORÁRIA PRÁTICA</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>CPTA003</td>
                  <td>Laboratório de Programação I</td>
                  <td>0</td>
                  <td>60</td>
                </tr>
                <tr>
                  <td>CPTA004</td>
                  <td>Lógica Aplicada à Computação</td>
                  <td>60</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>CPTA007</td>
                  <td>Cálculo II</td>
                  <td>80</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>CPTA009</td>     
                  <td>Eletrônica Básica</td>
                  <td>60</td>
                  <td>0</td>  
                </tr>
                <tr>
                  <td>CPTA014</td>     
                  <td>Álgebra Linear</td>
                  <td>80</td>
                  <td>0</td>  
                </tr><tr>
                  <td>CPTA042</td>     
                  <td>Programação I</td>
                  <td>60</td>
                  <td>0</td>  
                </tr><tr>
                  <td>CPTA043</td>     
                  <td>Engenharia de Requisitos</td>
                  <td>40</td>
                  <td>0</td>  
                </tr>
               
              </tbody>
            </table>
            <table class="table "><!--tabela 1-->
              <thead class="text-center">
                <tr>
                  <p style = "font-size: 130%"><b>4º Período:</b><br>
                </tr>
                <tr bgcolor="#7888BD">
                  <th bgcolor="6FA2D9">CÓDIGO</th>
                  <th bgcolor="EA7D7D">DISCIPLINA</th>
                  <th bgcolor="7DEA80">CARGA HORÁRIA TEÓRICA</th>
                  <th bgcolor="DDE780">CARGA HORÁRIA PRÁTICA</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>CPTA053</td>
                  <td>Matemática Discreta</td>
                  <td>80</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>CPTA054</td>
                  <td>Programação II</td>
                  <td>60</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>CPTA055</td>
                  <td>Laboratório de Programação II</td>
                  <td>0</td>
                  <td>60</td>
                </tr>
                <tr>
                  <td>CPTA056</td>     
                  <td>Organização e Arquitetura de Computadores</td>
                  <td>60</td>
                  <td>0</td>  
                </tr>
                <tr>
                  <td>CPTA057</td>     
                  <td>Engenharia de Software I</td>
                  <td>60</td>
                  <td>0</td>  
                </tr><tr>
                  <td>CPTA058</td>     
                  <td>Banco de Dados I</td>
                  <td>80</td>
                  <td>0</td>  
                </tr>
               
              </tbody>
            </table>
            </table>
            <table class="table "><!--tabela 1-->
              <thead class="text-center">
                <tr>
                  <p style = "font-size: 130%"><b>5º Período:</b><br>
                </tr>
                <tr bgcolor="#7888BD">
                  <th bgcolor="6FA2D9">CÓDIGO</th>
                  <th bgcolor="EA7D7D">DISCIPLINA</th>
                  <th bgcolor="7DEA80">CARGA HORÁRIA TEÓRICA</th>
                  <th bgcolor="DDE780">CARGA HORÁRIA PRÁTICA</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>CPTA059</td>
                  <td>Direito Digital</td>
                  <td>40</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>CPTA060</td>
                  <td>Sistemas Digitais</td>
                  <td>60</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>CPTA061</td>
                  <td>Sistemas Operacionais</td>
                  <td>60</td>
                  <td>20</td>
                </tr>
                <tr>
                  <td>CPTA062</td>     
                  <td>Teoria da Computação</td>
                  <td>80</td>
                  <td>0</td>  
                </tr>
                <tr>
                  <td>CPTA063</td>     
                  <td>Laboratório de Programação III</td>
                  <td>0</td>
                  <td>60</td>  
                </tr><tr>
                  <td>CPTA064</td>     
                  <td>Engenharia de Software II</td>
                  <td>60</td>
                  <td>0</td>  
                </tr>
               
              </tbody>
            </table>
            <table class="table "><!--tabela 1-->
              <thead class="text-center">
                <tr>
                  <p style = "font-size: 130%"><b>6º Período:</b><br>
                </tr>
                <tr bgcolor="#7888BD">
                  <th bgcolor="6FA2D9">CÓDIGO</th>
                  <th bgcolor="EA7D7D">DISCIPLINA</th>
                  <th bgcolor="7DEA80">CARGA HORÁRIA TEÓRICA</th>
                  <th bgcolor="DDE780">CARGA HORÁRIA PRÁTICA</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>CPTA065</td>
                  <td>Redes de Computadores I</td>
                  <td>80</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>CPTA066</td>
                  <td>Projeto e Análise de Algoritmos</td>
                  <td>80</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>CPTA067</td>
                  <td>Inteligência Artificial</td>
                  <td>80</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>CPTA068</td>     
                  <td>Computação Gráfica</td>
                  <td>80</td>
                  <td>0</td>  
                </tr>
                <tr>
                  <td>CPTA069</td>     
                  <td>Banco de Dados II</td>
                  <td>80</td>
                  <td>0</td>  
                </tr>
               
              </tbody>
            </table>
            <table class="table "><!--tabela 1-->
              <thead class="text-center">
                <tr>
                  <p style = "font-size: 130%"><b>7º Período:</b><br>
                </tr>
                <tr bgcolor="#7888BD">
                  <th bgcolor="6FA2D9">CÓDIGO</th>
                  <th bgcolor="EA7D7D">DISCIPLINA</th>
                  <th bgcolor="7DEA80">CARGA HORÁRIA TEÓRICA</th>
                  <th bgcolor="DDE780">CARGA HORÁRIA PRÁTICA</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>CPTA071</td>
                  <td>Processamento de Imagens</td>
                  <td>60</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>CPTA072</td>
                  <td>Paradigmas de Linguagens de Programação</td>
                  <td>40</td>
                  <td>20</td>
                </tr>
                <tr>
                  <td>CPTA073</td>
                  <td>Redes de Computadores II</td>
                  <td>80</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>CPTA074</td>     
                  <td>Compiladores</td>
                  <td>40</td>
                  <td>20</td>  
                </tr>
                <tr>
                  <td>CPTA075</td>     
                  <td>Sistemas Distribuídos</td>
                  <td>60</td>
                  <td>0</td>  
                </tr>
                <tr>
                  <td>CPTA076</td>     
                  <td>Computação Paralela</td>
                  <td>60</td>
                  <td>0</td>  
                </tr>
               
              </tbody>
            </table>
            <table class="table "><!--tabela 1-->
              <thead class="text-center">
                <tr>
                  <p style = "font-size: 130%"><b>8º Período:</b><br>
                </tr>
                <tr bgcolor="#7888BD">
                  <th bgcolor="6FA2D9">CÓDIGO</th>
                  <th bgcolor="EA7D7D">DISCIPLINA</th>
                  <th bgcolor="7DEA80">CARGA HORÁRIA TEÓRICA</th>
                  <th bgcolor="DDE780">CARGA HORÁRIA PRÁTICA</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>CPTA077</td>
                  <td>Gerência de Projetos</td>
                  <td>40</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>CPTA077</td>
                  <td>Empreendedorismo</td>
                  <td>40</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td></td>
                  <td>Eletiva I</td>
                  <td>60</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td></td>     
                  <td>Eletiva II</td>
                  <td>60</td>
                  <td>0</td>  
                </tr>
               
              </tbody>
            </table>
          </div>                
    </div>
  </section><!--/#team-->

  <section id="pricing">
    <div class="container">
      
      <div class="pricing-table">
        <div class="row">
          
        </div>
      </div>
    </div>
  </section><!--/#pricing-->

  
  <section id="contact">
    
    <div id="contact-us" class="parallax">
      <div class="container">
        <div class="row">
          <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2>Contato</h2>
            <p>Critique, Sugira, Inove e, assim, colabore para que o ARACOMP seja um canal de referência na área.</p>
          </div>
        </div>
        <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
          <div class="row">
            <div class="col-sm-6">
              <form id="main-contact-form" name="contact-form" method="post" action="#">
                <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="text" name="name" class="form-control" placeholder="Name" required="required">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="email" name="email" class="form-control" placeholder="Email Address" required="required">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" name="subject" class="form-control" placeholder="Subject" required="required">
                </div>
                <div class="form-group">
                  <textarea name="message" id="message" class="form-control" rows="4" placeholder="Enter your message" required="required"></textarea>
                </div>                        
                <div class="form-group">
                  <button type="submit" class="btn-submit">Send Now</button>
                </div>
              </form>   
            </div>
            <div class="col-sm-6">
              <div class="contact-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <p>Universidade Federal de Alagoas - Campus Arapiraca</p>
                <ul class="address">
                  <li><i class="fa fa-map-marker"></i> <span> Endereço:</span> Av. Manoel Severino Barbosa, s/n Bom Sucesso - Arapiraca - AL, CEP: 57309-005</li>
                  <li><i class="fa fa-phone"></i> <span> Telefone:</span> (82) 3482-1840 </li>
                  <li><i class="fa fa-envelope"></i> <span> Email:</span><a href="mailto:coordenacao.cpt@ufal.br"> coordenacao.cpt@arapiraca.ufal.br</a></li>
                  <li><i class="fa fa-globe"></i> <span> Site:</span> <a href="#">ufal.edu.br</a></li>
                </ul>
              </div>                            
            </div>
          </div>
        </div>
      </div>
    </div>        
  </section><!--/#contact-->
  <footer id="footer">
    <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
      <div class="container text-center">
        <div class="footer-logo">
          <a href="index.html"><img class="img-responsive" src="images/logo.png" alt=""></a>
        </div>
        <div class="social-icons">
          <ul>
            <li><a class="envelope" href="#"><i class="fa fa-envelope"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li> 
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="tumblr" href="#"><i class="fa fa-tumblr-square"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <p>&copy; 2016 Oxygen Theme.</p>
          </div>
          <div class="col-sm-6">
            <p class="pull-right">Crafted by <a href="http://designscrazed.org/">Allie</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="js/jquery.inview.min.js"></script>
  <script type="text/javascript" src="js/wow.min.js"></script>
  <script type="text/javascript" src="js/mousescroll.js"></script>
  <script type="text/javascript" src="js/smoothscroll.js"></script>
  <script type="text/javascript" src="js/jquery.countTo.js"></script>
  <script type="text/javascript" src="js/lightbox.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>

</body>
</html>