<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>TCC - Ufal - Ciência da Computação</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/animate.min.css" rel="stylesheet"> 
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/lightbox.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link id="css-preset" href="css/presets/preset1.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">

  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
  <![endif]-->
  
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="images/logo_cc.gif">
</head><!--/head-->

<body>

  <!--.preloader-->
  <div class="preloader"> <i class="fa fa-circle-o-notch fa-spin"></i></div>
  <!--/.preloader-->

  <header id="home">
    <div class="main-nav">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">
            <h1><img class="img-responsive" src="images/logo.png" alt="logo"></h1>
          </a>                    
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">                 
            <li class="scroll "><a href="#home">Home</a></li>
            <li class="scroll"><a href="documentos.html">Documentos</a></li> 
            <li class="scroll active"><a href="tcc.html">TCC</a></li> 
            <li class="scroll"><a href="matriz.html">Matriz Curricular</a></li>                     
            <li class="scroll"><a href="#portfolio">Professores</a></li>
            <li class="scroll"><a href="horarios.html">Horários</a></li>
            <li class="scroll"><a href="administ.html">Administração</a></li>
            <li class="scroll"><a href="FAQ.html">FAQ</a></li>
            <li class="scroll"><a href="#contact">Contato</a></li>       
          </ul>
        </div>
      </div>
    </div><!--/#main-nav-->
  </header><!--/#home-->
  <section id="about-us" class="parallax">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="text-justify about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2 ><b>Trabalho de Conclusão de Curso - TCC</b></h2>

            <h3 class="text-justify"><b>O que é</b></h3>
            <p class="text-justify">O TCC é componente curricular obrigatório do Bacharelado em Ciência da Computação. Consiste em um trabalho de produção conjunta entre aluno e orientador, relacionado à pesquisa, ensino e/ou extensão, sempre contextualizada nas subáreas da Ciência da Computação.</p>

            <h3 class="text-justify"><b>Coordenador</b></h3>
            <p class="text-justify">Thiago Sales</p>

            <h3 class="text-justify"><b>Objetivos</b></h3>
            <p class="text-justify">
              <ul>
                <li class="text-justify">Exercitar a capacidade criativa, a originalidade, e a implementação de ideias empreendedoras e/ou científicas;</li>
                <li class="text-justify">Aprimorar habilidades de análise e síntese através da realização de trabalhos individuais;</li>
                <li class="text-justify">Consolidar e colocar em prática os conhecimentos adquiridos durante o curso;</li>
                <li class="text-justify">Desenvolver a habilidade de escrita de um texto técnico-científico, com clareza e precisão.</li>
              </ul>
            </p>

            <h3 class="text-justify"><b>O Regimento</b></h3>
            <p class="text-justify">O Regimento define as normas complementares a Resolução no 25, de 26 de outubro de 2005 (Art 18)1 e a Instrução Normativa No 02 PROGRAD/Fórum das Licenciaturas, de 27 de setembro de 20132 para realização do Trabalho de Conclusão de Curso (TCC) do Curso de Ciência da Computação.<br><br>
            O documento completo pode ser encontrado <a href="http://bit.ly/2w2yHfH">aqui.</a></p>

            <h3 class="text-justify"><b>Calendário do TCC</b></h3>
            <p class="text-justify">Antes do início de de cada semestre será lançado o calendário das atividades do TCC. Estejam atentos, pois os prazos serão rigorosamente cumpridos. Os calendários de TCC podem ser vistos <a href="calendariotcc.html">aqui.</a></p>
         
            <h3 class="text-justify"><b>Calendário do TCC</b></h3>
            <p class="text-justify">O processo de produção de um TCC pode ser dividido em 4 etapas:
              <ol>
                <li class="text-justify">Preprojeto - Nesta etapa ocorre a definição sobre o projeto a ser desenvolvido. Neste momento, o aluno deverá consultar professores em busca de propostas. O próprio aluno também pode propor o tema de TCC para um professor da área de conhecimento de interesse. Ao final desta etapa, o aluno deverá submeter ao curso o projeto de TCC.</li>
                <li class="text-justify">Desenvolvimento do TCC - É a construção propriamente dita do TCC que deve ser realizada em conjunto com o orientador. O método adotado nesta etapa deve ser discutido entre orientador e orientando.</li>
                <li class="text-justify">Defesa e avaliação - TCC pronto. É hora de publicá-lo, ou seja, apresentá-lo para a comunidade. Além disso, estarão duas pessoas presentes (a banca) para avaliar este produto final e sugerir alterações quando for o caso. Não se preocupe, a esta altura, ninguém mais que você entende deste trabalho.</li>
                <li class="text-justify">Posdefesa - É a etapa final e consiste de tarefas meramente burocráticas para que o aluno possa colar grau.</li>
              </ol>
            Dúvidas devem ser enviadas para a Coordenação de TCC.      
            </p>
            
          
          </div>
        </div>
      </div>
    </div>

  

  <section id="contact">
    <div id="contact-us" class="parallax">
      <div class="container">
        <div class="row">
          <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2>Contato</h2>
            <p>Critique, Sugira, Inove e, assim, colabore para que o ARACOMP seja um canal de referência na área.</p>
          </div>
        </div>
        <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
          <div class="row">
            <div class="col-sm-6">
              <form id="main-contact-form" name="contact-form" method="post" action="#">
                <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="text" name="name" class="form-control" placeholder="Name" required="required">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="email" name="email" class="form-control" placeholder="Email Address" required="required">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" name="subject" class="form-control" placeholder="Subject" required="required">
                </div>
                <div class="form-group">
                  <textarea name="message" id="message" class="form-control" rows="4" placeholder="Enter your message" required="required"></textarea>
                </div>                        
                <div class="form-group">
                  <button type="submit" class="btn-submit">Send Now</button>
                </div>
              </form>   
            </div>
            <div class="col-sm-6">
              <div class="contact-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <p>Universidade Federal de Alagoas - Campus Arapiraca</p>
                <ul class="address">
                  <li><i class="fa fa-map-marker"></i> <span> Endereço:</span> Av. Manoel Severino Barbosa, s/n Bom Sucesso - Arapiraca - AL, CEP: 57309-005</li>
                  <li><i class="fa fa-phone"></i> <span> Telefone:</span> (82) 3482-1840 </li>
                  <li><i class="fa fa-envelope"></i> <span> Email:</span><a href="mailto:coordenacao.cpt@ufal.br"> coordenacao.cpt@arapiraca.ufal.br</a></li>
                  <li><i class="fa fa-globe"></i> <span> Site:</span> <a href="#">ufal.edu.br</a></li>
                </ul>
              </div>                            
            </div>
          </div>
        </div>
      </div>
    </div>        
  </section><!--/#contact-->
  <footer id="footer">
    <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
      <div class="container text-center">
        <div class="footer-logo">
          <a href="index.html"><img class="img-responsive" src="images/logo.png" alt=""></a>
        </div>
        <div class="social-icons">
          <ul>
            <li><a class="envelope" href="#"><i class="fa fa-envelope"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li> 
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="tumblr" href="#"><i class="fa fa-tumblr-square"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <p>&copy; 2016 Oxygen Theme.</p>
          </div>
          <div class="col-sm-6">
            <p class="pull-right">Crafted by <a href="http://designscrazed.org/">Allie</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="js/jquery.inview.min.js"></script>
  <script type="text/javascript" src="js/wow.min.js"></script>
  <script type="text/javascript" src="js/mousescroll.js"></script>
  <script type="text/javascript" src="js/smoothscroll.js"></script>
  <script type="text/javascript" src="js/jquery.countTo.js"></script>
  <script type="text/javascript" src="js/lightbox.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>

</body>
</html>